body {
  background-color: #f2f2f2;
  height: 100vh;

  animation: circle 3s linear infinite alternate;
  background-image: url("../images/stars1.png");
  background-size: 90%;
  background-color: #0c030e;
  color: #fff;
}
a{
  text-decoration: none;
  color: #0c030e;
}
@keyframes circle {
  from {
    background-size: 90%;
  }

  to {
    background-size: 100%;
  }
}


.media-player{
  position: fixed;
  z-index: 87478952;
  bottom: 5%;
  left: 0;
  right: 0;
  top: 25%;
  /* background-color: #fff; */
  text-align: center;
  /* transform: translateY(110%); */
  transition: .7s;
}
.media-player .text{
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin-top: 25px;
}
.media-player img{
  margin-bottom: 25px;

}
.media-player .btn{
  font-weight: 700;
}
 .closeFav{
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 700;


}